<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <!--/*header,footer에 대한 css*/-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
</head>
<body id="bulletin_list_page">
<header th:replace="fragments/header :: headerFragment"></header>

<div layout:fragment="content"></div>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>