<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/customPostpage.css}">
  <title>Post</title>
  <style>
    #bulletin_list_page .bulletin_footer {
      bottom: -290px;
    }
  </style>
</head>

<!--/*content*/-->

<div layout:fragment="content">
  <div class="READ">
  <button class="btn_return">
    <a th:href="@{/bulletin/index}"><input class="btn_return_txt" type='button' value='돌아가기' /></a>
  </button>
  <div class="post_area">
    <!--/*제목영역*/-->
    <div class="post_title_area">
      <div class="post_title_text">[[${post.title}]]</div>
      <div class="post_title_info">
        <div class="post_title_nickname">[[${post.name}]]</div>
        <div class="post_title_time">[[${post.date}]]</div>
      </div>
      <p class="title_underline"></p>
    </div>
    <!--/*내용영역*/-->
    <div class="post_content">[[${post.content}]]</div>
    <p class="content_underline"></p>
    <!--/*내용 버튼영역*/-->
    <button class="post_read_buttons">
      <input class="post_read_modify_button" type="button" value="수정" />
      <input class="post_read_delete_button" type="button" value="삭제" />
    </button>
  </div>
    <p class="post_comment_borderline"></p>
  <div class="post_comment_area">
    <input class="post_comment_input_area" />
    <button class="btn_comment">
      <input class="btn_comment_txt" type='button' value='댓글 작성'/>
    </button>
  </div>
</div>
</div>
</html>